<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's Talk</title>

  <!-- Favicon -->
  <link rel="icon" href="./dist/media/img/favicon.png" type="image/png">

  <!-- Bundle Styles -->
  <link rel="stylesheet" href="./vendor/bundle.css">

  <link rel="stylesheet" href="./vendor/enjoyhint/enjoyhint.css">

  <!-- App styles -->
  <link rel="stylesheet" href="./dist/css/app.min.css">
</head>
<body class="navigation-open">

<!-- page loading -->
<div class="page-loading"></div>
<!-- ./ page loading -->

<!-- disconnected modal -->
<div class="modal fade" id="disconnected" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row mb-5">
          <div class="col-md-6 offset-3">
            <img src="./dist/media/svg/undraw_warning_cyit.svg" class="img-fluid" alt="image">
          </div>
        </div>
        <p class="lead text-center">Application disconnected</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-success btn-lg">Reconnect</button>
        <a href="LetsTalk.html" class="btn btn-link">Logout</a>
      </div>
    </div>
  </div>
</div>
<!-- ./ disconnected modal -->

<!-- search user modal -->
<div class="modal fade" id="searchUser" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="search" class="mr-2"></i> Search User
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">Input a UserId to search a user to add</div>
        <div class="form-group">
          <label for="userId" class="col-form-label">UserId</label>
          <input type="text" class="form-control" id="userId">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="searchUserButton" data-dismiss="modal"
                data-navigation-target="contact-information">Search
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ./ search user modal -->

<!-- add friend message modal -->
<div class="modal fade" id="addFriendMessage" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="message-square" class="mr-2"></i> Add Friends Invitation
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">Input the message to send request of adding friend.</div>
        <div class="form-group">
          <label for="userId" class="col-form-label">Invitation Message</label>
          <label for="requestContent"></label><textarea class="form-control" id="requestContent"
                                                        style="margin-top: 0; margin-bottom: 0; height: 99px;"></textarea>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sendAddFriendRequestButton" data-dismiss="modal"
                data-navigation-target="contact-information">Send
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ./ add friend message modal -->

<!-- add friend message(acceptor) modal -->
<div class="modal fade" id="addFriendInvitationAcceptor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="user-plus" class="mr-2"></i> Add Friends Invitation
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body" id="invitationBody">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="rejectAddingInvitaion" data-dismiss="modal">Reject</button>
        <button type="button" class="btn btn-primary" id="agreeAddingInvitaion" data-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ add friend message(acceptor) modal -->

<!-- new group modal -->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="users" class="mr-2"></i> New Group
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="groupName" class="col-form-label">Group name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="groupName">
            </div>
          </div>
          <div class="form-group">
            <label for="groupIntro" class="col-form-label">Introduction</label>
            <textarea class="form-control" id="groupIntro"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="createGroupButton" class="btn btn-primary" data-dismiss="modal">Create Group</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ new group modal -->

<!-- search group modal -->
<div class="modal fade" id="searchGroup" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="search" class="mr-2"></i> Search User
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-info">Input a Group Id to search a group to join</div>
        <div class="form-group">
          <label for="groupId" class="col-form-label">Group Id</label>
          <input type="text" class="form-control" id="groupId">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="searchGroupButton" data-dismiss="modal"
                data-navigation-target="contact-information">Search
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ./ search group modal -->

<!-- edit profile modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-zoom" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i data-feather="edit-2" class="mr-2"></i> Edit Profile
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="ti-close"></i>
        </button>
      </div>
      <!--            <div class="modal-body"><h4>Coming soon!</h4></div>-->
      <div class="modal-body" id="profileEditBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveUserDetail">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- ./ edit profile modal -->

<!-- layout -->
<div class="layout">

  <!-- navigation -->
  <nav class="navigation">
    <div class="nav-group">
      <ul>
        <li class="logo">
          <a href="#">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px"
                 width="612px" height="612px" viewBox="0 0 612 612"
                 style="enable-background:new 0 0 612 612;" xml:space="preserve">
                            <g>
                                <g id="_x32__26_">
                                    <g>
                                    <path d="M401.625,325.125h-191.25c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h191.25
                                    c10.557,0,19.125-8.568,19.125-19.125S412.182,325.125,401.625,325.125z M439.875,210.375h-267.75
                                    c-10.557,0-19.125,8.568-19.125,19.125s8.568,19.125,19.125,19.125h267.75c10.557,0,19.125-8.568,19.125-19.125
                                    S450.432,210.375,439.875,210.375z M306,0C137.012,0,0,119.875,0,267.75c0,84.514,44.848,159.751,114.75,208.826V612
                                    l134.047-81.339c18.552,3.061,37.638,4.839,57.203,4.839c169.008,0,306-119.875,306-267.75C612,119.875,475.008,0,306,0z
                                    M306,497.25c-22.338,0-43.911-2.601-64.643-7.019l-90.041,54.123l1.205-88.701C83.5,414.133,38.25,345.513,38.25,267.75
                                    c0-126.741,119.875-229.5,267.75-229.5c147.875,0,267.75,102.759,267.75,229.5S453.875,497.25,306,497.25z"/>
                                    </g>
                                </g>
                            </g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
              <g></g>
                        </svg>
          </a>
        </li>
        <li>
          <a data-navigation-target="friends" href="#" data-toggle="tooltip"
             title="Friends" data-placement="right" id="loadFriends">
            <i data-feather="user"></i>
          </a>
        </li>
        <li class="brackets">
          <a data-navigation-target="groups" href="#" data-toggle="tooltip"
             title="Groups" data-placement="right" id="loadGroups">
            <i data-feather="users"></i>
          </a>
        </li>
        <li>
          <a href="#" class="dark-light-switcher" data-toggle="tooltip" title="Dark mode"
             data-placement="right">
            <i data-feather="moon"></i>
          </a>
        </li>
        <li data-toggle="tooltip" title="User menu" data-placement="right" id="userMenu">
          <a data-toggle="dropdown">
            <figure class="avatar">
              <img src="./dist/media/img/man_avatar1.jpg" class="rounded-circle" alt="image">
            </figure>
          </a>
          <div class="dropdown-menu">
            <a href="#" class="dropdown-item" data-toggle="modal" data-target="#editProfileModal"
               id="editCurrentUserDetail">Edit
              profile</a>
            <a href="#" class="dropdown-item" data-navigation-target="contact-information" id="loadCurrentUserDetail">Profile</a>
            <div class="dropdown-divider"></div>
            <a th:href="@{/exit}" class="dropdown-item text-danger">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ./ navigation -->

  <!-- content -->
  <div class="content">

    <!-- sidebar group -->
    <div class="sidebar-group mobile-open">

      <!-- Friends sidebar -->
      <div id="friends" class="sidebar mobile-open active">
        <header>
          <span>Friends</span>
          <ul class="list-inline">
            <li class="list-inline-item" data-toggle="tooltip" title="Add friends">
              <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#searchUser">
                <i data-feather="user-plus"></i>
              </a>
            </li>
            <li class="list-inline-item d-xl-none d-inline">
              <a href="#" class="btn btn-outline-light text-danger sidebar-close">
                <i data-feather="x"></i>
              </a>
            </li>
          </ul>
        </header>
        <form>
          <input type="text" class="form-control" placeholder="Search friends">
        </form>
        <div class="sidebar-body">
          <ul class="list-group list-group-flush" id="friendList">
          </ul>
        </div>
      </div>
      <!-- ./ Friends sidebar -->

      <!-- Groups sidebar -->
      <div id="groups" class="sidebar">
        <header>
          <span>Groups</span>
          <ul class="list-inline">
            <li class="list-inline-item" data-toggle="tooltip" title="Create group">
              <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#createGroup">
                <i data-feather="plus-square"></i>
              </a>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" title="Join group">
              <a class="btn btn-outline-light" href="#" data-toggle="modal" data-target="#searchGroup">
                <i data-feather="users"></i>
              </a>
            </li>
            <li class="list-inline-item d-xl-none d-inline">
              <a href="#" class="btn btn-outline-light text-danger sidebar-close">
                <i data-feather="x"></i>
              </a>
            </li>
          </ul>
        </header>
        <form>
          <input type="text" class="form-control" placeholder="Search groups">
        </form>
        <div class="sidebar-body">
          <ul class="list-group list-group-flush" id="groupList">
          </ul>
        </div>
      </div>
      <!-- ./ Groups sidebar -->

    </div>
    <!-- ./ sidebar group -->

    <!-- chat -->
    <div class="chat">
      <div class="chat-header" id="chat-header">
        <div class="chat-header-user" id="chatHeaderUser">
        </div>
        <div class="chat-header-action" id="chatHeaderAction">
          <ul class="list-inline">
            <li class="list-inline-item d-xl-none d-inline">
              <a href="#" class="btn btn-outline-light mobile-navigation-button">
                <i data-feather="menu"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="btn btn-outline-light" data-toggle="dropdown">
                <i data-feather="more-horizontal"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" data-navigation-target="contact-information"
                   class="dropdown-item" id="dropdownProfile">Profile</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="chat-body">
        <div class="messages" id="chatBody">
          <h3>Select a friend to start a chat!</h3>
        </div>
      </div>
      <div class="chat-footer" id="chatFooter">
        <form>
          <label for="contentId"></label><input type="text" class="form-control" placeholder="Write a message."
                                                id="contentId" autocomplete="off">
          <div class="form-buttons">
            <button class="btn btn-primary" type="submit">
              <i data-feather="send"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- ./ chat -->

    <!-- profile -->
    <div class="sidebar-group">
      <div id="contact-information" class="sidebar">
        <header>
          <span>Profile</span>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#" class="btn btn-outline-light text-danger sidebar-close">
                <i data-feather="x"></i>
              </a>
            </li>
          </ul>
        </header>
        <div class="sidebar-body" id="profileBody">
        </div>
      </div>
    </div>
    <!-- ./ profile -->

  </div>
  <!-- ./ content -->

</div>
<!-- ./ layout -->

<!-- Bundle -->
<script crossorigin="anonymous" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH" src="https://lib.baomitu.com/jquery/3.3.1/jquery.js"></script><script src="./vendor/bundle.js"></script>
<script src="./vendor/feather.min.js"></script>
<script src="./vendor/enjoyhint/enjoyhint.min.js"></script>
<script src="./vendor/layer.js"></script>

<!-- App scripts -->
<script src="./dist/js/app.min.js"></script>

<!-- Examples -->
<!--<script src="./dist/js/examples.js"></script>-->

<!-- Methods scripts -->
<script src="./dist/js/logic.js"></script>

<!-- WebSocket scripts -->
<script src="./dist/js/websocket.js"></script>



</body>


</html>